<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mybatis.mapper.MemberMapper">
    <resultMap id="memberResultMap" type="com.example.demo.mybatis.domain.Member">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <insert id="insert">
        INSERT INTO member.member (username, password)
        VALUES (#{username}, #{password})
    </insert>

    <select id="findById" resultType="Member" >
        SELECT * FROM member.member
        WHERE id = #{id}
    </select>

    <select id="findByUsername" resultType="Member" >
        SELECT * FROM member.member
        WHERE username LIKE #{username}
    </select>

    <select id="now" resultType="String" >
        SELECT NOW()
    </select>
</mapper>